.header{
    background: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29.5px 88px;
    position: relative;
    z-index: 1;
    @include pad{
        padding: 29.5px 48px;
    }
    @include phone{
        padding: 10px 16px;
        justify-content: center;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;
    }
}
.m-menu{
    display: none;
    color: $color-light;
    position: absolute;
    left: 16px;
    @include phone{
        display: block;
    }
}
.logo{
    @include hide-text;
    width: 80px;
    height: 49px;
    background-image: url('../img/logo.png');
    cursor: pointer;
    @include phone{
        width: 48px;
        height: 30px;
        margin: 0 auto;
        background-image: url(../img/logo-sm.png);
    }
}

.menu{
    color: $color-light;
    display: flex;
    @include phone{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0px;
        transition: all 0.8s;
        overflow: hidden;
        z-index: 5;
        display: block;
    }
}
.menu.active {
    max-height: 240px;
  }
.menu li{
    margin-right: 64px;
    &:hover{
        background:$color-secondary;
    }
    @include pad{
        margin-right: 40px;
    }
    @include phone{
        margin: 0;
    }
}

.menu li:last-child{
    margin: 0;
}
.menu a{
    display: block;
    color: $color-light;
    @include phone{
        border-top: 1px solid #FFFFFF;
        background: #AA0601;
        color: #FFFFFF;
        text-align: center;
        padding: 17.5px 0;
    }
}

//banner



.banner {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  height: 840px;
  background-size: cover;
  background-position: center center;
  @include phone{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true");
    height: 394px;
  }
}
.b-container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 12px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  @include pad{
    max-width: 696px;
  }
}
.slogan {
  font-size: 64px;
  color: $color-secondary;
  font-weight: 500;
  text-align: right;
  @include pad{
    font-size: 48px;
  }
  @include phone{
    font-size: 32px;
    line-height: 45px;
  }
}
.slogan-sm {
  font-size: 36px;
  @include pad{
    font-size: 20px;
  }
  @include phone{
    font-size: 16px;
    line-height: 30px; 
  }
}
//intro

.intro{
    padding-top: 64px;
    padding-bottom: 80px;
    background-color: #AA06010D;
    @include pad{
        padding-top: 40px;
        padding-bottom: 48px;
    }
    @include phone{
        padding-top: 32px;
        padding-bottom: 56px;
    }
}
.title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    @include pad{
        font-size: 32px;
    }
    @include phone{
        font-size: 24px;
    }
}
.i-title{
    margin-bottom: 64px;
    @include pad{
        margin-bottom: 32px;
    }

}
.intro__list{
    display: flex;
    justify-content: space-between;
    @include pad{
        flex-wrap: wrap;
    }
    @include phone{
        display: block;
    }
}
.il-1{
    order: 3;

}
.il-2{
    order:1;

}
.il-3{
    order:1;
    @include phone{
        order: 2;
    }
}
.il-4{
    order:4;
}
.intro__list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.1%;
    width: 23.5%;
    @include pad{
        width: 48.2%;
        padding: 0 7.442%;
        margin-bottom: 32px;
    }
    @include phone{
        width: 100%;
        padding: 0 18.18%;
        margin-bottom: 28px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.i-img{
    height: 156px;
    display: flex;
    align-items: flex-start;
    @include pad{
        height: 116px;
        img{
            transform: scale(0.8);
        }
    }
}
.i-img-glasses{
    padding-top: 12px;
}


.color-text{
    color: $color-secondary;
}
.subtitle{
    font-size: 24px;
    font-weight: 500;
    color: $color-secondary;
    margin-bottom: 4px;
    text-align: center;
    @include pad{
        margin-bottom: 8px;
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    @include pad{
        max-width: 672px;
    }
    @include phone{
        max-width: 352px;
    }
}

//product

.product{
    padding-top: 64px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include phone{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.p-title{
    margin-bottom: 60px;
    @include pad{
        margin-bottom: 32px;
    }
    @include phone{
        margin-bottom: 16px;
    }
}
.p-img {
    width: 66%;
    @media (max-width: 1040px){
        width: 60%;
    }
    @include pad{
        width: 61%;
    }
    @include phone{
        width: 100%;
    }
}

.p-img-color{
    background-image: url('../img/product-2-color.png');
    background-position: center  center;
    background-size: contain;
    &:hover img{
        opacity: 0;
    }
}
.p-subtitle{
    font-size: 48px;
    color: $color-primary;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
    @include pad{
        font-size: 28px;
    }
    @include phone{
        font-size: 28px;
        color: $color-light;
    }
}
.p-icon{
    margin-right: 8px;
    @include pad{
        transform: scale(0.667);
    }
    @include phone{
        display: none;
    }
}
.p-icon-white{
    display: none;
    margin-right: 8px;
    @include phone{
        display: block;
    }
}

.product__list__item:nth-child(1) .p-name{

    @include phone{
        top: 60%;
    }
}
.product__list__item:nth-child(2){
    flex-direction: row-reverse;
    @include pad{
        flex-direction: row;
    }
}
.product__list__item:nth-child(2) .p-name{
    margin-left: 0;
    margin-right: 2%;
    @include pad{
        margin-left: 3.6%;
        margin-right: 0;
    }
    @include phone{

        margin: 0;
        left: 44%;
    }
}
.product__list__item{
    display: flex;
    margin-bottom: 32px;
    @include pad{
        margin-bottom: 8px;
    }
    @include phone{
        position: relative;
        margin-bottom: 8px;
    }
}
.product__list__item:nth-child(3){
    margin-bottom: 0;
}
.p-name{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 2%;
    
    @include pad{
        margin-left: 3.6%;
        width: 33.85%;
    }
    @include phone{
        margin-left: 0;
        position: absolute;
        top: 55%;
        left: 46%;
        transform: translate(-50%,-50%);
        z-index: 5;
        
    }
}
//crossover
.crossover{
    background-image: url('../img/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    
    padding-top: 64px;
    padding-bottom: 480px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 300px;
    }
    @include phone{
        padding-top: 24px;
        padding-bottom: 100px;
    }
}

.c-container{
    max-width: 1539px;
    margin: 0 auto;
    @include pad{
        max-width: 672px;
    }
    @include phone{
        max-width: 352px;
    }
}
.c-title{
    margin-bottom: 60px;
    @include pad{
        margin-bottom: 32px;
    }
    @include phone{
        margin-bottom: 16px;
    }
}
.c-product__list{
    
    @include pad{
        margin-bottom: 40px;
    }
}
.c-product{
    display: flex;
    margin-bottom: 60px;
    @include pad{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
        
    }
    @include phone{
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 20px;
        display: block;
    }
}
.bg-center{
    background-position: center center;
    background-size: cover;
}
.left{
    margin-right: 8px;
    @include phone{
        margin-right: 0;
        margin-bottom: 8px;
    }
}
.right{
    
    @include pad{
    }
}
.r-top{
    margin-bottom: 8px;
}

.r-bottom{
    display: flex;
    @include phone{
        
    }
}
.rb-left{
    margin-right: 0.9%;
    @include phone{
    }
}
.rb-right{
    
    @include phone{
       
    }
}
.rbr-top{
    margin-bottom: 0.9%;
    @include phone{
        
    }
}
.rbr-bottom{
    justify-content: flex-end;
    position: relative;
    display: flex;

    @include pad{
        background-position: 63% center;
    }
    @include phone{
        background-image: url('../img/5.png');
        height: 53.53%;
        background-position: 0 0;
        flex-direction: column-reverse;
    }
}

.more-img{
    position: relative;
    display: flex;
    height: 100%;
    max-width: 32%;
    
    margin-right: 115px;
    img{
        transition: all .65s .3s;
        transform: translateX(0px);
    }
    
}
.more-img::after {
    content: '';
    position: absolute;
    background-color: $color-light;
    top: 8%;
    bottom: 8%;
    left: 10%;
    right: -115px;
    
}
.more{
    
    color: $color-primary;
    font-size: 72px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-style: normal;
    padding-left: 4.2%;
    &:hover img:last-child{
        transform: translateX(15px);
    }
    &::before {
        content: 'MORE';
        position: absolute;
        transition: all .65s .3s;
        transform: translateY(0px);
        font-size: 72px;
        @include pad{
            font-size: 40px;
        }
        @include phone{
            font-size: 26px;
        }
    }
    &:hover::before {
        transform: translateY(-85px);
        opacity: 0.7;
        @include phone{
            transform: translateY(-35px);
        }
    }
      
    &::after {
        content: 'MORE';
        position: absolute;
        transition: all .65s .3s;
        transform: translateY(0px);
        font-size: 72px;
        @include pad{
            font-size: 40px;
        }
        @include phone{
            font-size: 26px;
        }
    }
      
    &:hover::after {
        transform: translateY(-145px);
        opacity:0.4;
        @include phone{
            transform: translateY(-65px);
        }
    }
      
     
    @include pad{
        font-size: 40px;
        width: 50%;
        top:38%;
        bottom: 8%;
        img{
            transform: translate(10px,10px) scale(0.7);
        }
        &:hover img:last-child{
            transform: translate(15px,10px) scale(0.7);
        }
        
    }
    @include phone{
        font-size: 26px;
        height: 77.35%;
        width: 90.4%;
        img{
            transform: scale(0.55);
        }
        &:hover img:last-child{
            transform: translateX(15px) scale(0.55);
        }
    }
}
.pop__list{
    display: flex;
    @include phone{
        display: block;
    }
}

.pop__list__item{
    width: 48.75%;
    position: relative;
    @include phone{
        width: 94%;
        margin: 0 auto;
        &:first-child{
            margin-bottom: 20px;
        }
    }
}
.pop-item-white{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
}
.pop-img{
    z-index: 0;
    position: relative;
}
.c-subtitle{
    position: absolute;
    z-index: 2;
    font-family: Roboto, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-primary;
    font-size: 72px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    @include pad{
        font-size: 32px;
    }
    @include phone{
        font-size: 32px;
    }
}

//recommend
.recommend{
    margin-top: -300px;
    padding-bottom: 80px;
   @include phone{
       margin-top: -76px;
   }
}
.recommand__list{
   flex-wrap: wrap;
}
.card{
    
    width: 23.5%;
    background-color: $color-light;
    @include pad{
      width: 48.21%;
      margin-bottom: 24px;
      &:nth-of-type(3){
          margin-bottom: 0;
      }
      &:nth-of-type(4){
          margin-bottom: 0;
      }
    }
    @include phone{
        width: 94%;
        margin: 0 auto;
        margin-bottom: 16px;
        &:nth-of-type(3){
            margin-bottom: 16px;
        }
        img{
            width: 100%;
        }
    }
}
.card:last-child{
    margin-right: 0;
    @include phone{
        margin: 0 auto;
    }
}
.card__info{
    padding: 16px;
    font-family: Roboto, sans-serif;
    border: 1px solid #DEE2E6;
}
.card__info__name{
   font-weight: 500;
   margin-bottom: 16px;
}
.card__info__description{
    margin-bottom: 16px;
    font-weight: 400;
}
.card__info__time{
    color: #707070;
    font-weight: 400;
}

//contact
.contact{
    background-color: #AA06010D;
    padding-top: 64px;
    padding-bottom: 92px;
    @include pad{
        padding-top: 24px;
        padding-bottom: 56px;

    }
}
.ct-container{
    max-width: 792px;
    margin: 0 auto;
    @include pad{
        max-width: 496px;
    }
    @include phone{
        max-width: 352px;
        padding: 0 12px;
        margin: 0 auto;
    }
}
.ct-form{
    .checkbox{
        background: transparent;;
        border: 1px solid #000;
    }
}
.private{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 42px;
    cursor: pointer;
    user-select: none;
    .checkbox{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    input:checked ~ .checkmark:after {
        display: block;
      }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border: 1px solid #000;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

        }
        @include phone{
            top: 3%;
        }
      }
}
.private-text{
    display: block;
    line-height: 1.5;
}
.container input:checked ~ .checkmark:after {
    display: block;
  }
.ct-title{
    margin-bottom: 24px;
}
.form-text{
    margin-bottom: 20px;
}
.faq{
    color: $color-primary;
}
.label{
    margin-bottom: 4px;
}
.input{
    margin-bottom: 16px;
}
.comment{
    min-height: 136px;
}
.submit{
    background: $color-primary;
    width: 22.61%;
    text-align: center;
    border: none;
    margin: 0 auto;
    transition: 0.5s;
    &:hover{
        background-color: $color-secondary;
    }
    @include pad{
        width: 27.41%;
    }
    @include phone{
        width: 38.63%;
    }
}
//footer
.footer{
    padding-top: 36px;
    padding-bottom: 24px;
    background-color: $color-primary;
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include phone{
        padding-top: 24px;
        padding-bottom: 20px;
    }
}
.f-container{
    padding: 0 15px;
    @include phone{
        padding: 0 ;
    }
}
.bottom-link{
    @media(max-width: 374px){
        width: 60%;
        margin: 0 auto;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.bottom-menu{
    display: flex;
    margin-bottom: 32px;
    li{
        margin-right: 40px;
    }
    @include phone{
        display: none;
    }
}
.contact-icon{
    margin-right: 12px;
    @include pad{
        transform: scale(0.6667); 
    }
    @include phone{
        transform: scale(0.4167);
        margin-right: 0;
    }
}
.media-list{
    li{
        margin-left: 32px;
        @include pad{
            margin-left: 0;
        }
        @include phone{
            margin-left: 0;
        }
    }
    @include pad{

        img{
            transform: scale(0.5) translateY(-24px);
        }
    }
    @include phone{
        transform: translate(0px,-5px);
        img{
            transform: scale(0.55) translateY(0);
        }
    }
    
}

.contact-info{
    font-size: 36px;
    font-weight: 400;
    align-items: center;
   
    &:first-child{
        margin-bottom: 16px;
        @include pad{
            margin-bottom: 12px;
        }
        @include phone{
            margin-bottom: 8px;
            transform: translateX(-5px);
        }
        @media (max-width:374px){
            transform: translateX(10px);
        }
    }
    &:last-child{
        margin-bottom: 24px;
        @include pad{
            transform: translateX(-5px);
            a{
                transform: translateX(-5px);
            }
        }
        @include phone{
            transform: translateX(-12px);
            a{
                transform: translateX(-5px);
            }
            
        }
        @media (max-width:374px){
            transform: translateX(-20px);
        }
    }
    @include pad{
        font-size: 20px;
    }
    @include phone{
        font-size: 16px;
    }
}
.bottom-info{
    border-top: 1px solid $color-light;
    padding-top: 24px;
    align-items: center;
    position: relative;
    display: flex;
    @include phone{
        display: block;
        padding-top: 16px;
    }
    p{
        margin-left: 38px;
        @include pad{
            margin-left: 0;
        }
        @include phone{
            margin-left: 0;
            margin-bottom: 8px;
            font-size: 14px;
        }
    }
}

.copyright{
    align-items: center;
}

.f-logo{
    @include pad{
        display: none;
    }
    @include phone{
        display: none;
    }
}
.terms{
    display: flex;
    li{
        margin-left: 62px;
        &:first-child{
            margin-left: 0;
        }
        @include pad{
            margin-left: 24px;
        }
        @include phone{
            margin-left: 0;
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    @include phone{
        display: block;
    }
}
.m-logo{
    display: none;
    @include phone{
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: scale(0.6) translate(30%, 30%)
    }
}
//utilities

.mb-8{
    margin-bottom: 32px;
}

.color-text-light{
    color: $color-light;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-content-between{
    justify-content: space-between;
}
.h-100{
    height: 100%;
}